a {
	text-decoration: inherit;
	color: inherit;
}

@font-face {
	font-family: 'Raleway';
	src: url('raleway/Raleway-Regular.ttf') format('truetype');
}

body {
	font-family: 'Raleway-Regular', Raleway, serif;
}

#divbody {
	padding-top: 25px;
	padding-left: 3.5%;
	padding-right: 3.5%;
}

header {
	padding-bottom: 50px;
display: flex;
justify-content: space-between;
}

#logo {
	width: 6.4%;
}

#entrée de recherche {
	width: 29.4%;
	border: 1px solid #f2f2f2;
	border-radius: 12%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#local {
	width: 12.4%;
	background-color: #f2f2f2;
	border-radius: 12% 0 0 12%;
}

#localisation {
	width: 13%;
	padding-right: 34.6%;
	padding-top: 16px;
	display: flex;
	justify-content: center;
}

#zonederecherche {
	width: 55.3%;
}

#rechercher {
	width: 31.7%;
	color: white;
	background-color: #0065fc;
	justify-content: center;
}

#mix {
	width: 64.5%;
	padding-left: 0.9%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}

.filtre {
	border: 2px solid #d9d9d9;
	border-radius: 26%;
	display: flex;
}

.clique {
	width: 50px;
	height: 50px;
	background-color: #deebff;
	border-radius: 50%;
}

.toff {
	width: 18px;
	padding-left: 16px;
	padding-top: 18px;
}

.tri {
	padding-left: 13px;
	padding-right: 22px;
	align-items: center;
}

#log500 {
	border: 1px solid red;
	display: flex;
}
/* margin-top: 35px; */

#logement {
	width: 1.7%;
	height: 24px;
	border: 1px solid #d9d9d9;
	border-radius: 50%;
	margin-right: 0.8%;
}

#ville500 {
width: 16.7%;
padding-left: 33.3%;
padding-bottom: 5px;
}

#àMarseille {
display: flex;
flex-direction: row;
}

#hébergementMarseille {
width: 65.7%;
margin-right: 3%;
padding: 50px 3% 50px 3%;
border: 1% #f2f2f2 solid;
border-radius: 12%;
background-color: #f2f2f2;
display: flex;
flex-direction: column;
}

#blocMarseille {
display: flex;
flex-wrap: wrap;
}

.annonceM {
	width: 28.3%;
	padding: 0.3%;
	border-radius: 12%;
	background-color: white; 
	display: flex;
	flex-direction: column;
}

/* ne pas oublier les ombres dans les annonces */

.photo {
	width: 95.9%;
	border-radius: 12% 12% 0 0;
}
/* 29.2% */
aside {
	width: 31.3%;
	background-color: #f2f2f2;
	border-radius: 12%;
	padding-left: 9%;
	padding-right: 9%;
	display: flex;
	flex-direction: column;
}

#lespopulaires {
display: flex;
justify-content: space-between;
}

.populaireM {
	width: 5.2%;
	background-color: #f2f2f2;
}

.annonceP {
	padding: 0.3%;
	border-radius: 12%;
	background-color: white; 
	display: flex;

}

.photos {
	width: 30.1%;
border-radius: 12% 0 0 12%;
}

#actM {
	display: flex;
	justify-content: space-between;
}

.VPNC {
	width: 22.5%;
	border-radius: 12% 12% 0 0;
}

.actMar {
	width: 22.5%;
	display: flex;
	flex-direction: column;
	
}

.acto {
	width: 100%;
	height: 390px;
	border-radius: 12% 12% 0 0;
}

.PNCV {
	padding-left: 3%;
	padding-top: 23px;
	padding-bottom: 20px;
}

#fPomègues {
	width: 100%;
	height: 180px;
	border-radius: 12% 12% 0 0;
}

#iFrioul {
	width: 100%;
	height: 110px;
	border-radius: 12% 12% 0 0;
}

#nDame {
	width: 100%;
	height: 140px;
	border-radius: 12% 12% 0 0;
}

#pLongchamp {
	width: 100%;
	height: 155px;
	border-radius: 12% 12% 0 0;
}

#menu1, #menu3 {
	color: #0065fc;
}

#menu1 {
	position: absolute;
	right: 24%;
	top: 53px;
}

#menu2 {
	position: absolute;
	right: 15%;
	top: 53px;
}

#menu3 {
	position: absolute;
	right: 5.4%;
	top: 53px;
}

/* #menu2 padding: 0 18.2 0 18.2%; */

#menu3 {
	font-weight: bold;
}

footer {
	height: 220px;
	background-color: #f2f2f2;
	display: flex;
	justify-content: space-around;
}


