#divbody {
padding: none;
}

header img {
    position: absolute;
    top: 40px;
    left: 6.9%;
    margin-top: inherit;
}

#menu1 {
    position: inherit;
    display: inline-block;
    width: 60.5%;
    margin-top: 46px;
    margin-left: -15%;
    border-top: none;
    border-bottom: 3px solid #0065fc;
    padding-bottom: 17px;
    text-align: center;
}
    
#menu2 {
    position: inherit;
    display: inline-block;
    width: 60.5%;
    margin-top: 46px;
    margin-left: -1.07%;
    margin-right: -6%;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 17px;
    text-align: center;
}

header + h1 {
    margin-left: 6.4%;
}

h1 ~ p {
    margin-left: 5.6%;
}

#entreederecherche {
	width: 88.8%;
	height: 52px;
	margin-bottom: 40px;
    margin-left: 5.6%;
}

#entree {
	width: 84.4%;
}

#local {
	width: 17.8%;
	padding-top: 16px;
}

#entree input {
	width: 82.2%;
	padding-left: 6.05%;
	height: 100%;
}

#graph {
	display: none;
}

#other {
    display: block;
	width: 15.6%;
    height: 100%;
	margin-left: -2px;
	border: 1px solid #0065fc;
	border-radius: 0 18px 18px 0;
	background-color: #0065fc;
    background-image: url(Images/Iloupe.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 34.6%;
    cursor: pointer;
}

#mix {
	margin-left: 5.9%;
	margin-top: -25px;
    width: 83%;
}

#mix p:nth-child(1) {
    margin-right: 50%;
}

[id*=filtre] {
    margin-bottom: 13px;
}

#log500 {
    margin-left: 5.3%;
}

#log500 div {
	margin-right: 3%;
}

#àMarseille {
flex-direction: column;
}

aside {
    order: 1;
	width: 110.5%;
    margin-left: -5%;
	margin-right: -5%;
	padding-bottom: 25px;
    border-radius: 0;
}

#lespopulaires {
	margin-top: 15px;
}

aside a {
	margin-bottom: 18px;
}

#àMarseille section {
    order: 2;
    width: 89%;
	margin-left: 5.3%;
    margin-top: 0;
    margin-bottom: 28px;
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
}

#hébergementMarseille {
    margin-top: 24px;
    margin-left: 5.9%;
}

#blocMarseille {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#blocMarseille a {
	width: 89%;
	padding: 0.6%;
	margin-bottom: 12px;
	border-radius: 22px;
	background-color: white;
	box-shadow: 1px 1px 3px #e7e7e7; 
	display: flex;
	flex-direction: column;
}

.photo {
	width: 95.9%;
	height: 114px;
	border-radius: 18px 18px 0 0;
	margin: 2.1%;
}

.lieu {
	margin-top: 6px;
	margin-left: 6.9%;
}

.prix {
	margin-top: -12px;
	margin-left: 6.9%;
	margin-bottom: 6px;
}

h2 {
	margin-left: 22px;
	margin-bottom: 33px;
}

#actM {
    margin-bottom: 21px;
	display: flex;
    flex-direction: column;
	justify-content: space-between;
}

.VPNC {
	width: 89%;
    margin-left: 5.3%;
    margin-bottom: 24px;
	border-radius: 24px;
	box-shadow: 2px 2px 4px #f4f4f4;
	box-shadow: -2px 2px 4px #f4f4f4;

}

.actMar a {
    width: 89%;
    margin-left: 5.3%;
    margin-bottom: 24px;
	border-radius: 24px;
	box-shadow: 2px 2px 4px #f4f4f4;
	box-shadow: -2px 2px 4px #f4f4f4;
}

.VPNC img {
	width: 100%;
	height: 130px;
	border-radius: 24px 24px 0 0;
}

.actMar a img {
    width: 100%;
	height: 130px;
	border-radius: 24px 24px 0 0;
}

.PNCV {
	padding-left: 3%;
	font-weight: bold;
}

footer {
	background-color: #f2f2f2;
	margin: 0px -8px -20px -8px;
	padding-top: 52px;
	padding-left: 8%;
    padding-bottom: 50px;
	display: flex;
    flex-direction: column;
	justify-content: space-between;
}

footer div {
    margin-bottom: 62px;
}

footer div:nth-child(3) {
    margin-bottom: 12px;
}
