a {
	text-decoration: inherit;
	color: inherit;
}

@font-face {
	font-family: 'Raleway';
	src: url('raleway/Raleway-Regular.ttf') format('truetype');
}

body {
	font-family: 'Raleway-Regular', Raleway, serif;
}

#divbody {
display: inherit;
}

header img {
    position: absolute;
    top: 15px;
    left: 6.9%;
	width: 23.7%;
	
}

#menu1, #menu3 {
	color: #0065fc;
}

#menu1 {
	border-bottom: 3px solid #0065fc;
    border-bottom-width: 50%;
	padding-bottom: 17px;
	margin-bottom: 41px;
    position: absolute;
    left: 10.4%;
	top: 104px;	
}

#menu2 {
    border-bottom: 3px solid #0065fc;
    border-bottom-width: 50%;
    padding-bottom: 17px;
    margin-bottom: 41px;
	position: absolute;
	right: 17.6%;
	top: 104px;
}

#menu3 {
	position: absolute;
	right: 5.6%;
	top: 65px;
	font-weight: bold;
}

header + h1 {
    /* margin-left: 6.4%;
    margin-right: 18.1%; */
}

header + p {
    margin-left: 5.6%;
}

#entreederecherche {
	width: 88.8%;
	height: 52px;
    margin-top: 38px;
	margin-bottom: 40px;
    margin-left: 5.6%;
    display: flex;
	flex-wrap: nowrap;
}

#entree {
	width: 84.4%;
	display: flex;
}

#local {
	width: 17.8%;
	padding-top: 16px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 18px 0 0 18px;
}

#local img {
	width: 26%;
    margin-top: 17px;
	margin-left: 40%;
	display: flex;
}

#entree input {
	width: 82.2%;
	padding-left: 6.05%;
	height: 100%;
	font-weight: bold;
	border-top-color: #f2f2f2;
	border-left-color: #f2f2f2;
	border-bottom-color: #f2f2f2;
	border-right-color: none;
}

#graph {
	display: none;
}

#other {
    display: block;
	width: 15.6%;
    height: 100%;
	margin-left: -2px;
	border: 1px solid #0065fc;
	border-radius: 0 18px 18px 0;
	background-color: #0065fc;
    background-image: url(Images/Iloupe.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 34.6%;
}

#mix {
	margin-left: 5.9%;
    margin-right: 7.2%;
	/* padding-left: 0.9%; */
	border: 1px solid green;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 35px; 
}

[id*=filtre] {
    margin-bottom: 13px;
	border: 2px solid #d9d9d9;
	border-radius: 50px;
	display: flex;
}

[id*=filtre]:hover {
background-color: #deebff;
color: #0065fc;
font-weight: bold;
}

#filtre1 {
	width: 177px;	
}

#filtre2 {
	width: 141px;
}

#filtre3 {
	width: 168px;
}

#filtre4 {
	width: 220px;
}

.clique {
	width: 50px;
	height: 50px;
	background-color: #deebff;
	border-radius: 50px;
}

.clique img {
	width: 34%;
	padding-left: 30%;
	padding-top: 33%;
}

#tri1 {
	/* padding-left: 6.7%;
	padding-right: 11.3%; */
    margin-left: 6.8%;
    margin-right: 10.2%;
}

#tri2 {
	/* padding-left: 8.5%;
	padding-right: 14.4%; */
    margin-left: 9.2%;
    margin-right: 12.8%;
}

#tri3 {
    /* padding-left: 7%;
	padding-right: 11.9%; */
    margin-left: 8.3%;
    margin-right: 7.1%;
}

#tri4 {
	/* padding-left: 5.4%;
	padding-right: 9.1%; */
    margin-left: 6.8%;
    margin-right: 7.3%;
	display: flex;
	flex-wrap: nowrap;
}

#log500 {
    margin-left: 5.3%;
	margin-bottom: 5px;
	border: 1px solid red;
	display: flex;
}

#log500 div {
	width: 24px;
	height: 24px;
	border: 2px solid #d9d9d9;
	border-radius: 50px;
	margin-right: 0.8%;
	margin-top: 12px;
}

#log500 div img {
width: 16.7%;
padding-left: 40.3%;
}

#àMarseille {
display: flex;
flex-direction: column;
}

aside {
    order: 1;
	width: 100%;
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#lespopulaires {
	width: 76.4%;
	margin-top: 22px;
	margin-left: 11.5%;
	margin-right: 11.5%;
	border: 1px solid red;
	display: flex;
	justify-content: space-between;
}

#lespopulaires img {
	width: 5.2%;
	height: 18px;
	margin-top: 25px;
	background-color: #f2f2f2;
}

aside a {
	width: 71.9%; 
	height: 144px;
	padding: 1.5%;
	margin-left: 12.5%;
	margin-bottom: 28px;
	border-radius: 18px;
	background-color: white;
	box-shadow: 1px 1px 3px #e7e7e7; 
	display: flex;
}

.photos {
	width: 37%;
	height: auto;
	margin-right: 21px;
	border-radius: 18px 0 0 18px;
}

.asi {
	width: 40.2%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding-top: 15px;
	padding-bottom: 10px;
}

.étoiles {
	width: 50.7%;
	display: flex;
	justify-content: space-between;
}

.étoiles img {
	width: 17.1%;
}    

#àMarseille section {
    order: 2;
    /* width: 100%; */
    padding: 22px 3%;
    margin-top: 0;
    margin-bottom: 28px;
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
}

#hébergementMarseille {
    margin-top: 46px;
	margin-bottom: 30px;
    margin-left: 22.9%;
}

#blocMarseille {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#blocMarseille a {
	width: 89%;
	padding: 0.6%;
	margin-bottom: 12px;
	border-radius: 22px;
	background-color: white;
	box-shadow: 1px 1px 3px #e7e7e7; 
	display: flex;
	flex-direction: column;
}

.photo {
	width: 95.9%;
	height: 114px;
	border-radius: 18px 18px 0 0;
	margin: 2.1%;
}

.lieu {
	margin-top: 6px;
	margin-left: 6.9%;
}

.prix {
	margin-top: -12px;
	margin-left: 6.9%;
	margin-bottom: 6px;
}

.étoile {
	width: 27.5%;
	margin-left: 6.9%;
	margin-bottom: 6px;
	display: flex;
	justify-content: space-between;
}

.étoile img {
	width: 17.6%;
}

h2 {
	margin-left: 22px;
	margin-bottom: 33px;
}

#actM {
    margin-bottom: 21px;
	display: flex;
    flex-direction: column;
	justify-content: space-between;
}

.VPNC {
	width: 89%;
    margin-left: 5.3%;
    margin-bottom: 24px;
	border-radius: 24px;
	box-shadow: 2px 2px 4px #f4f4f4;
	box-shadow: -2px 2px 4px #f4f4f4;

}

/* .actMar {
	display: inherit;
} */

.actMar a {
    width: 89%;
    margin-left: 5.3%;
    margin-bottom: 24px;
	border-radius: 24px;
	box-shadow: 2px 2px 4px #f4f4f4;
	box-shadow: -2px 2px 4px #f4f4f4;
}

.VPNC img {
	width: 100%;
	height: 130px;
	border-radius: 24px 24px 0 0;
}

.actMar a img {
    width: 100%;
	height: 130px;
	border-radius: 24px 24px 0 0;
}

.PNCV {
	padding-left: 3%;
	font-weight: bold;
}

/* #fortpomègues {
	height: 236px;
	border-radius: 12%;
	box-shadow: 2px 2px 4px #f4f4f4;
	box-shadow: -2px 2px 4px #f4f4f4;
}

#fPomègues {
	width: 100%;
	height: 180px;
	border-radius: 12% 12% 0 0;
}

#ilesdufrioul {
	height: 165px;
	border-radius: 12%;
	box-shadow: 2px 2px 4px #f4f4f4;
	box-shadow: -2px 2px 4px #f4f4f4;
}

#iFrioul {
	width: 100%;
	height: 110px;
	border-radius: 12% 12% 0 0;
}

#nddlg {
	height: 195px;
	border-radius: 12%;
	box-shadow: 2px 2px 4px #f4f4f4;
	box-shadow: -2px 2px 4px #f4f4f4;
}

#nDame {
	width: 100%;
	height: 140px;
	border-radius: 12% 12% 0 0;
}

#parclongchamp {
	height: 209px;
	border-radius: 12%;
	box-shadow: 2px 2px 4px #f4f4f4;
	box-shadow: -2px 2px 4px #f4f4f4;
}

#pLongchamp {
	width: 100%;
	height: 155px;
	border-radius: 12% 12% 0 0;
} */

footer {
	background-color: #f2f2f2;
	margin: 0px -8px -20px -8px;
	padding-top: 52px;
	padding-left: 8%;
    padding-bottom: 50px;
	display: flex;
    flex-direction: column;
	justify-content: space-between;
}

footer div {
    margin-bottom: 62px;
}

footer div:nth-child(3) {
    margin-bottom: 12px;
}
