a {
	text-decoration: inherit;
	color: inherit;
}

#divbody {
	padding: 3.1% 3.2% 0 3.6%;
}

header {
display: flex;
justify-content: space-between;
}

#entrée de recherche {
	display: flex;
	flex-direction: row;
}

#mix {
	display: flex;
}

#àMarseille {
display: flex;
flex-direction: row;
}

#hébergementMarseille {
width: 65%;
margin-right: 3%;
padding: 50px 3% 50px 3%;
border: 1% #f2f2f2 solid;
border-radius: : 12%;
background-color: #f2f2f2;
display: flex;
flex-direction: column;
}

#blocMarseille {
display: flex;
flex-wrap: wrap;
}

.annonceM {
	width: 17%;
	padding: 0.3%;
	border-radius: 12%;
	background-color: white; 
	display: flex;
	flex-direction: column;
}

/* ne pas oublier les ombres dans les annonces */

.photo {
	width: 95.9%;
	border-radius: 12% 12% 0 0;
}

aside {
	width: 29.2%;
	background-color: #f2f2f2;
	border-radius: 12%;
}

#populaire {
	width: : ???????;
margin-left: auto;
background-color: ????????;
border-radius: 12%;
display: flex;
flex-direction: column;
}

#lespopulaires {
display: flex;
?????????: space-between;	
}

.populaireM {
	width: ??????;
background-color: white;
border-radius: 12%;
}

.photos {
	width: : ??????;
border-radius: 12% 0 0 12%;
}

#logo {
	width: 92px;
}

nav {
	width: 26.4%;
	padding-left: 1.9%;
	display: flex;
	justify-content: space-between;
}

#menu1, #menu3 {
	color: #0065fc;
}

#menu2 {
padding-left: 18.2%;
padding-right: 18.2%;
}

/* padding: 0 18.2 0 18.2%; */

footer {
	margin: 
	height: 220px;
	background-color: #f2f2f2;
	display: flex;
	justify-content: space-around;
}


