a {
	text-decoration: inherit;
	color: inherit;
}

@font-face {
	font-family: 'Raleway';
	src: url('raleway/Raleway-Regular.ttf') format('truetype');
}

body {
	font-family: 'Raleway-Regular', Raleway, serif;
}

#divbody {
	padding-top: 25px;
	padding-left: 3.5%;
	padding-right: 3.5%;
}

header {
	padding-bottom: 50px;
display: flex;
justify-content: space-between;
}

#logo {
	width: 6.4%;
}

#entrée de recherche {
	width: 29.4%;
	display: flex;
	flex-direction: row;
}

#localisation {
	width: 13%;
	background-color: #f2f2f2;
	display: flex;
	justify-content: center;
}

#zonederecherche {
	width: 55.3%;
}

#rechercher {
	width: 31.7%;
	color: white;
	background-color: #0065fc;
	justify-content: center;
}

#mix {
	display: flex;
}

#àMarseille {
display: flex;
flex-direction: row;
}
/* 65 */
#hébergementMarseille {
width: 65.7%;
margin-right: 3%;
padding: 50px 3% 50px 3%;
border: 1% #f2f2f2 solid;
border-radius: 12%;
background-color: #f2f2f2;
display: flex;
flex-direction: column;
}

#blocMarseille {
display: flex;
flex-wrap: wrap;
}

.annonceM {
	width: 28.3%;
	padding: 0.3%;
	border-radius: 12%;
	background-color: white; 
	display: flex;
	flex-direction: column;
}

/* ne pas oublier les ombres dans les annonces */

.photo {
	width: 95.9%;
	border-radius: 12% 12% 0 0;
}
/* 29.2% */
aside {
	width: 31.3%;
	background-color: #f2f2f2;
	border-radius: 12%;
	padding-left: 9%;
	padding-right: 9%;
	display: flex;
	flex-direction: column;
}

#lespopulaires {
display: flex;
justify-content: space-between;
}

.populaireM {
	width: 6.1%;
	background-color: #f2f2f2;
}

.annonceP {
	padding: 0.3%;
	border-radius: 12%;
	background-color: white; 
	display: flex;

}

.photos {
	width: 30.1%;
border-radius: 12% 0 0 12%;
}



/* nav {
	width: 28.1%;
	padding-left: 1.9%;
	display: flex;
	justify-content: space-between;	
} */

#menu1, #menu3 {
	color: #0065fc;
}

#menu1 {
	position: absolute;
	right: 24%;
	top: 53px;
}

#menu2 {
	position: absolute;
	right: 15%;
	top: 53px;
}

#menu3 {
	position: absolute;
	right: 5.4%;
	top: 53px;
}

/* #menu2 padding: 0 18.2 0 18.2%; */

#menu3 {
	font-weight: bold;
}

footer {
	height: 220px;
	background-color: #f2f2f2;
	display: flex;
	justify-content: space-around;
}


